@{
    ViewBag.Title = "About";
}
<h2>About Me</h2>
<h3>Contributions At StackOverflow</h3>
<p>
    <a href="http://stackoverflow.com/u/23199/">
        <img src="http://stackoverflow.com/users/flair/506366.png?theme=dark" width="208" height="58" alt="profile for Benson Lott at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for LaMMMy at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
    </a>
</p>